/* Navbar */

.navBar {
    height: 60px;
    align-items: center;
    background-color: #00002e;
    color: #fff;
}

.navUl {
    list-style: none;
    gap: 10px;
}

.NavCloseBtn {
    border: none;
    background-color: white;
}

.NavBtn {
    border: none;
    color: #fff;
    border-radius: 5px;
    padding: 5px 12px;
    margin-right: 10px;
    background-color: #002480;
}

.fontNav {
    gap: 30px;
}

.form {
    width: 90%;
    margin: 30px auto;
}

.input {
    width: 300px;
}

.textArea {
    display: block;
    width: 95%;

}

.cardBox {
    width: 300px;
    overflow: hidden;
   
}

.profile {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.viewBtn {
    border: none;
    border-radius: 5px;
    background-color: #002480;
    color: white;
    padding: 4px 25px;

}


/* Loader */

/* From Uiverse.io by barisdogansutcu */
svg {
    width: 3.25em;
    transform-origin: center;
    animation: rotate4 2s linear infinite;
}

circle {
    fill: none;
    stroke: hsl(214, 97%, 59%);
    stroke-width: 2;
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    stroke-linecap: round;
    animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes dash4 {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }

    50% {
        stroke-dasharray: 90, 200;
        stroke-dashoffset: -35px;
    }

    100% {
        stroke-dashoffset: -125px;
    }
}


/* detail */

.detail {
    margin: 20px auto;
    width: 90%;
}

.detailImage {
    height: 350px;
    width: 800px;
}

.pre {
    white-space: pre-wrap;
    /* Allows wrapping but keeps whitespace */
    overflow-wrap: break-word;
}
.detHead{
    font-size: 4rem;
}

/* footer */

footer {
    /* background-color: blue; */
    height: 50px;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 20px;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(16, 21, 162, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

/* profile */

.profileCardBox {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    min-height: 400px;
    width: 93.5%;
    margin: 30px auto;
}

.profImg {
    width: 20%;
}

.profbox h1 {
    font-size: 2rem;
}

/* create blog */

.popUp{
    position: absolute;
    background-color: black;
    opacity: 0.8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 500px) {
    .detailImage {
        height: 235px;
        width: 100%;
    }

    .profbox h1 {
        font-size: 1rem;
    }

    .fontNav {
        font-size: 14px;

        gap: 6px;
    }

    .NavBtn {
        padding: 3px 8px;
    }

    .navUl {
        margin-left: 8px;
        gap: 6px;
    }
    .detHead{
        font-size: 2rem;
    }
    .profileCardBox{
        width: 100%;
        justify-content: center;
    }
}